version: '3'

services:

  backend1:
    build: ./backend1
    container_name: backend1

  backend2:
    build: ./backend2
    container_name: backend2

  nginx:
    image: nginx:latest
    container_name: nginx-lb
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend1
      - backend2
